:root {
    --light-green--text--: hsla(157, 74%, 61%, 1);
    --paragraph-color--: hsla(224, 40%, 83%, 1);
    --light-dark--: hsla(225, 26%, 23%, 1);
    --dark--: hsla(224, 35%, 11%, 1);
    --white--: hsla(0, 0%, 100%, 1);
    --dark-gray--: hsla(225, 21%, 45%, 1);
    --light-gray--: hsla(225, 40%, 83%, 1);
    --button-default-color: hsla(157, 74%, 61%, 1);
    --button-hover-color: hsla(157, 100%, 85%, 1);
    --error--: hsla(0, 96%, 61%, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*MOBILE*/

body {
    font-family: 'Chivo', sans-serif;
    background-color: var(--dark--);
    height: 100vh;
    min-width: 375px;
}

.tablet-image,
.dekstop-image {
    display: none;
}

li {
    list-style-type: none;
    cursor: pointer;
}

.background-image {
    position: relative;
    background-image: url(/assets/mobile/image-host.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-color: var(--light-dark--);
    background-blend-mode: multiply;
    opacity: 0.3;
}

.container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 62px;
    min-width: 375px;
}

.article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.podcasts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 33px;
}

.email-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.email {
    width: 327px;
    background-color: hsla(224, 26%, 23%, 1);
    border: 0;
    border-radius: 28px;
    padding: 15px 200px 15px 32px;
    color: var(--white--);
}

input[type="text"] {
    font-weight: bold;
    font-size: 14px;
    outline: none;

}

button {
    width: 327px;
    padding: 9px 109px 9px 109px;
    border-radius: 28px;
    background-color: var(--button-default-color);
    color: hsla(224, 35%, 11%, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 16px;
    border: 0;
    cursor: pointer;
}

.article-section h1 {
    text-transform: uppercase;
    color: var(--light-green--text--);
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    margin-top: 57px;
    text-align: center;
    width: 340px;
}

.article-section span {
    color: var(--white--);
}

.article-section p {
    margin-top: 16px;
    color: var(--paragraph-color--);
    font-family: Chivo;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    width: 327px;
}

.podcasts {
    display: flex;
}

/*icons*/

.spotify {
    width: 56px;
}

.apple-podcast {
    width: 45px;
}

.google-podcast {
    width: 73px;
}

.pocket-podcast {
    width: 77px;
}

.error {
    color: #FB3E3E;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 8px;
}

@media(min-width: 768px) {

    .background-image {
        position: relative;
        background-image: url(/assets/tablet/image-host.jpg);
        background-blend-mode: multiply;
        background-position: right;
        background-size: 491px;
        height: 767px;
        background-color: unset;
        opacity: 1;

    }



    .container {
        position: absolute;
        align-items: flex-start;
        top: 200px;
        left: 50px;
        background-color: var(--dark--);
        width: 635px;
        height: 509px;
        margin-bottom: 257px;
        width: 75%;
        max-width: 723px;
    }

    header {
        position: absolute;
        top: -220px;
    }

    .article-section {
        align-items: flex-start;
    }

    .article-section h1 {
        text-align: start;
        font-size: 48px;
        font-weight: 400;
        line-height: 56px;
        width: 100%;
        max-width: 665px;
        margin-top: 90px;

    }

    .article-section p {
        text-align: start;
        font-family: Chivo;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        width: 445px;
        margin-top: 31px;
    }

    .podcasts {
        width: 536px;
        justify-content: space-between;
    }

    .email-section {
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 40px;
        align-items: flex-start;
    }

    .email {
        position: relative;
        width: 427px;
    }

    button {
        position: absolute;
        height: 46px;
        width: 162px;
        font-size: 14px;
        line-height: 28px;
        margin-top: 0;
        padding: 0;
        margin-left: 265px;
    }

    .dots {
        position: absolute;
        background-image: url(/assets/desktop/bg-pattern-dots.svg);
        background-repeat: no-repeat;
        width: 232px;
        height: 104px;
        left: 40px;
        margin-top: 152px;
    }

    /*icons*/

    .spotify {
        width: 95px;
    }

    .apple-podcast {
        width: 78px;
    }

    .google-podcast {
        width: 125px;
    }

    .pocket-podcast {
        width: 129px;
    }

    .error {
        margin-left: 32px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
    }

    .reverse{
        display: flex;
        flex-direction: column-reverse;
    }

    /*Dekstop*/

    @media(min-width:1440px) {

        .flex-container {
            padding: 130px 0px 130px 165px;
        }

        .background-image {
            height: 640px;
            background-position: unset;
            background-image: url(/assets/desktop/image-host.jpg);
            background-position: contain;
            background-size: 962px;
            left: 400px;
            width: 962px;
        }

        header {
            top: -165px;
        }

        .container {
            width: 723px;
            height: 509px;
            top: 210px;
            left: 165px;
        }

        .article-section h1 {
            font-family: Chivo;
            font-size: 52px;
            font-weight: 400;
            line-height: 62px;
        }

        .article-section p {
            font-family: Chivo;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }

        .left-section {
            height: 509px;
        }

        .dots {
            background-image: url(/assets/desktop/bg-pattern-dots.svg);
            top: 565px;
            left: 1290px;
        }

        button:hover {
            background-color: var(--button-hover-color);
        }

        .reverse{
            display: flex;
            flex-direction: column-reverse;
        }
    }
}